html,
body {
    font-family: 'Tajawal', sans-serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

.display-4,
.display-6 {
    font-weight: 700;
}

.carousel-inner::before {
    content: '';
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    top: 0;
}

.carousel-indicators {
    z-index: 3;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    border: 0;
}

.d-block.slide-1.w-100 {
    min-height: 24.375rem;
}

.slide-1 {
    background-image: url("/assets/image/slide-1.webp");
}

.slide-2 {
    background-image: url("/assets/image/slide-2.webp");
}

.slide-3 {
    background-image: url("/assets/image/slide-3.webp");
}

.slide-1,
.slide-2,
.slide-3 {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.carousel-item h2,
.carousel-item p,
.carousel-item a {
    opacity: 0;
}

.carousel-item.active h2,
.carousel-item.active p,
.carousel-item.active a {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.carousel-item.active h2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.carousel-item.active p {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.carousel-item.active a {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.collapse {
    width: auto;
}

.show {
    width: 100%;
    place-content: end;
}

[class^="icofont"] {
    color: #01b1d7;
}

.wazir {
    padding: 80px 0;
    background: url("/assets/image/testimonials-bg.webp") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: whitesmoke;
    z-index: -2;
}

.wazir::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

.blockquote .text-center {
    position: relative;
}

.blockquote .text-center::before {
    content: "“";
    position: absolute;
    font-size: 85px;
    right: -6px;
    transform: rotate(187deg);
    bottom: 36%;
}

.blockquote .text-center::after {
    content: "“";
    position: absolute;
    font-size: 85px;
    left: 12%;
    transform: rotate(15deg);
    top: 17%;
}

.services h5:hover {
    color: #01b1d7;
    transition: all .4s;
}

.portfolio-item:hover .img-fluid {
    transform: scale(1.1);
    border: 0;
    border-radius: .25rem;
}

.img-fluid {
    transform: scale(1);
    transition: .4s;
    border-style: none;
}

.counts {
    background: url("/assets/image/counter-up.webp") center center no-repeat;
    background-size: auto;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
    color: #fff;
    z-index: -2;
}

.counts::before {
    content: "";
    background-color: #000000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.navbar-light .navbar-nav .nav-link.active,
[id^="count-"] {
    color: #01b1d7;
}

.position-absolute.top-0.left-0.bottom-0.right-0 {
    color: #fff;
    background-color: #00000080;
    font-weight: 700;
    transform: translateY(-100%);
    transition: all .4s ease;
}

.portfolio-item:hover .position-absolute.top-0.left-0.bottom-0.right-0 {
    transform: translateY(0);
}

.color-kafaa {
    color: #01b1d7;
}

.backgound-kafaa {
    background-color: #ffffff;
}

.backgound-kafaa:hover,
.backgound-kafaa:hover [class^="icofont"] {
    color: #ffffff;
    background-color: #01b1d7;
}

.modal-content {
    background-color: #08070717;
}

.modal-header {
    background-color: blanchedalmond;
}

.modal-body {
    background-color: #00000070;
}

.icofont-simple-left.display-5.position-absolute.top-50 {
    left: 4%;
}

.icofont-simple-right.display-5.position-absolute.top-50 {
    right: 4%;
}

@media (max-width: 576px) {
    .m-5 {
        margin: 0 !important;
    }
    .model_img {
        flex-direction: column;
        width: 100%;
        flex: none;
    }
}

@media (min-width: 576px) {
    .m-5 {
        margin: 0 !important;
    }
    .model_img {
        flex-direction: column;
        width: 75%;
        flex: none;
    }
}

@media (min-width: 768px) {
    .model_img {
        flex-direction: column;
        width: 100%;
        flex: none;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}